@charset "UTF-8";
/*
*	手机端公用样式 变量
*/


/*
*	字体颜色定义
*/
$fC1: #121C33; 					//用于一级文字信息 如首页楼层名称、项目名称、社区内容标题、导航等
$fC2: #929FAD;					//用于二级文字信息 如内容简介、项目简介、搜索默认、企业简介等
$fC3: #999;							//用于辅助文字信息 如项目发布时间、动态发布时间等
$fCStr: #387BE6;				//用于标签文字信息 如某些页面高亮的标题、提示信息等
$fCRun: #FFD627;				//用于项目过程 已预约审核中 状态信息
$fCSuc: #0DB983;				//用于项目过程 已预约成功 状态信息
$fCErr: #ED7346;				//用于项目过程 预约失败 状态信息
$fCH: #FFAC2D;					//星星评分

$cLine: #E5E5E5;				//用于分割线、输入区域线、头像边框线
$cBgInput: #F8F8F8;			//用于搜索框、输入框背景色等
$cBgCut: #f4f5f7;				//用于分割间隔楼层信息区域
$cBgLabel: #DFEAFC;     //用于标签背景色
$cBgStr: #387BE6;

/*
*	字体大小定义
*/
$fS10: .427rem;
$fS12: .512rem;
$fS13: .555rem;
$fS14: .597rem;
$fS15: .64rem;
$fS16: .683rem;