@charset "UTF-8";
/*
*	手机端公用样式 变量
*/
/*
*	字体颜色定义
*/
/*
*	字体大小定义
*/
.top {
  width: 100%;
  background: #F8F8F8;
  position: fixed;
  top: 0;
  left: 0;
  height: 5.973rem;
  z-index: 2; }
  .top .header {
    height: 1.963rem;
    width: 100%; }
    .top .header .back {
      padding-top: 0.427rem; }
      .top .header .back img {
        width: 1.109rem;
        height: 1.109rem; }
    .top .header .haved {
      flex: 1;
      text-align: right;
      padding-right: 0.853rem;
      line-height: 1.963rem;
      font-size: 0.683rem;
      color: #929FAD; }
  .top .tips .title {
    font-size: 0.768rem;
    color: #121C33;
    line-height: 1.067rem; }
  .top .tips .subtitle {
    font-size: .512rem;
    line-height: .725rem;
    color: #929FAD; }
    .top .tips .subtitle .add_label {
      flex: 1;
      color: #929FAD;
      text-align: right;
      padding-right: .64rem; }

.label_left {
  position: fixed;
  left: 0;
  top: 5.973rem;
  width: 4.267rem;
  overflow-y: scroll;
  background: #F8F8F8;
  z-index: 1; }
  .label_left.self {
    top: 48px; }
  .label_left ul {
    padding-bottom: 3.413rem; }
  .label_left li {
    width: 100%;
    height: 1.707rem;
    line-height: 1.707rem;
    text-align: center;
    color: #121C33; }
    .label_left li.active {
      background: #fff; }

.label_right {
  width: 11.733rem;
  margin-left: 4.736rem;
  margin-top: 6.4rem; }
  .label_right.self {
    margin-top: 0; }
  .label_right .add_form {
    margin-top: 1.707rem;
    padding-right: .64rem; }
    .label_right .add_form .add {
      display: block;
      background: #387BE6;
      color: #fff;
      height: 1.963rem;
      line-height: 1.963rem;
      min-width: 2.389rem;
      text-align: center;
      margin-left: .64rem;
      border-radius: .256rem; }
    .label_right .add_form .add_input {
      flex: 1;
      border-radius: .256rem;
      background: #F8F8F8;
      outline: none;
      border: none;
      padding-left: 15px; }
  .label_right .label_list {
    width: 100%;
    padding-top: .853rem;
    display: none;
    flex-wrap: wrap; }
    .label_right .label_list li {
      padding: .427rem;
      line-height: .853rem;
      font-size: 0.597rem;
      color: #929FAD;
      margin-right: .427rem;
      margin-bottom: .853rem;
      float: left;
      background: #F8F8F8;
      border-radius: .256rem;
      position: relative; }
      .label_right .label_list li.active {
        background: #387BE6;
        color: #fff; }
      .label_right .label_list li i {
        display: block;
        width: .683rem;
        height: .683rem;
        position: absolute;
        top: -0.341rem;
        right: -0.1rem;
        background: url(../images/cancel_icon.png) center center no-repeat;
        background-size: 100%; }

.sure_label {
  display: block;
  width: 85%;
  height: 1.963rem;
  box-shadow: 0px 10px 15px rgba(56, 123, 230, 0.2);
  background: #387BE6;
  position: fixed;
  bottom: .683rem;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  font-size: .597rem;
  color: #fff;
  border-radius: .213rem;
  text-align: center;
  line-height: 1.963rem; }

.work_list {
  flex-wrap: wrap;
  padding: 0 .64rem;
  padding-top: 6rem; }
  .work_list .work_item {
    display: block;
    width: 7.04rem;
    margin-right: .64rem;
    margin-bottom: .64rem;
    position: relative;
    border-radius: .256rem; }
    .work_list .work_item:nth-of-type(even) {
      margin-right: 0; }
    .work_list .work_item:after {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 1;
      border-radius: .256rem; }
    .work_list .work_item img {
      display: block;
      width: 100%;
      border-radius: .256rem; }
    .work_list .work_item .work_ztxt {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: #fff;
      font-size: .683rem;
      z-index: 2; }

/*# sourceMappingURL=before.css.map */
