@charset "UTF-8";
/*
*	手机端公用样式 变量
*/
/*
*	字体颜色定义
*/
/*
*	字体大小定义
*/
.share_top {
  width: 100%;
  height: 10.667rem;
  position: relative;
  background: url(../images/new/s_bg.svg) center center no-repeat;
  background-size: cover;
  padding-top: .64rem; }
  .share_top .logo {
    display: block;
    position: relative;
    width: auto;
    height: 0.853rem;
    margin-left: .64rem; }
  .share_top .title {
    display: block;
    width: 5.973rem;
    height: auto;
    margin-top: 0.853rem;
    margin-left: auto;
    margin-right: auto; }
  .share_top .subtitle {
    display: block;
    width: 5.675rem;
    height: auto;
    margin-top: .64rem;
    margin-left: auto;
    margin-right: auto; }
  .share_top .left_icon {
    display: block;
    position: absolute;
    width: 4.139rem;
    height: auto;
    left: 1.195rem;
    bottom: 1.579rem; }
  .share_top .right_icon {
    display: block;
    position: absolute;
    width: 3.755rem;
    height: auto;
    right: 1.109rem;
    bottom: 1.493rem; }

.share_cont {
  width: 100%;
  padding-left: .64rem;
  padding-right: .64rem; }
  .share_cont .cont {
    width: 100%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.06);
    position: relative;
    border-radius: 0.256rem;
    margin-top: -1.707rem;
    background: #fff;
    padding-bottom: 1.067rem; }
  .share_cont .code {
    width: 5.675rem;
    height: 5.675rem;
    border-radius: 0.256rem;
    transform: translateY(-0.811rem);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); }
    .share_cont .code img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0.256rem; }
  .share_cont .avatar {
    width: 2.56rem;
    height: 2.56rem;
    border-radius: 50%;
    transform: translateY(-0.811rem);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); }
    .share_cont .avatar img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  .share_cont .share_btn {
    display: block;
    width: 5.973rem;
    line-height: 1.877rem;
    background: linear-gradient(272deg, #2b63e5 0%, #639bff 100%);
    box-shadow: 0px 3px 10px rgba(98, 154, 254, 0.3);
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.853rem;
    color: #fff;
    text-align: center; }
    .share_cont .share_btn.join {
      margin-top: 1.707rem; }
  .share_cont .info {
    width: 10.24rem;
    margin-left: auto;
    margin-right: auto; }
  .share_cont .tips {
    width: 100%;
    line-height: 0.725rem;
    position: relative;
    margin-top: 0.853rem; }
    .share_cont .tips span {
      display: block;
      width: 4.011rem;
      color: #387BE6;
      font-size: 0.512rem;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      background: #fff;
      position: relative;
      z-index: 1; }
    .share_cont .tips:after {
      content: '';
      display: block;
      width: 5.973rem;
      height: 1px;
      background: #387BE6;
      position: absolute;
      top: 0.341rem;
      z-index: 0;
      left: 50%;
      transform: translateX(-50%); }
  .share_cont .s_link {
    justify-content: center;
    margin-top: .64rem; }
    .share_cont .s_link a {
      display: block;
      text-align: center; }
      .share_cont .s_link a:nth-of-type(1) {
        margin-right: 1.707rem; }
      .share_cont .s_link a img {
        display: block;
        width: 1.707rem;
        height: 1.707rem;
        border-radius: 50%; }
      .share_cont .s_link a p {
        font-size: 0.512rem;
        color: #387BE6;
        text-align: center;
        margin-top: 0.213rem; }
  .share_cont .skill_link {
    display: block;
    margin-top: 2.072rem;
    font-size: 0.512rem;
    color: #C1CBD6;
    line-height: 0.853rem;
    text-align: center; }
  .share_cont .desc {
    font-size: 0.512rem;
    color: #929FAD;
    text-align: center;
    width: 10.24rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 0.768rem; }
  .share_cont .line {
    display: block;
    width: 1.28rem;
    height: 1px;
    background: #929FAD;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.427rem;
    margin-bottom: 0.427rem; }
  .share_cont .down_code {
    display: block;
    width: 4.267rem;
    height: 4.267rem;
    margin-left: auto;
    margin-right: auto; }

.down_element {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 666; }
  .down_element.show .down_cont {
    transform: translate(-50%, -50%) scale(0.7); }
  .down_element .down_cont {
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative; }

.shart_tips_alert {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  z-index: 999; }
  .shart_tips_alert .sta_cont {
    width: 100%;
    height: 100%;
    position: relative;
    background: none;
    overflow: hidden;
    padding-top: 2.84rem; }
    .shart_tips_alert .sta_cont .sta_item {
      padding-left: 1.067rem;
      position: relative;
      margin-bottom: 0.853rem; }
      .shart_tips_alert .sta_cont .sta_item.item1 {
        line-height: 1.28rem;
        margin-bottom: 1.28rem; }
      .shart_tips_alert .sta_cont .sta_item .title {
        font-size: 0.597rem;
        color: #fff; }
      .shart_tips_alert .sta_cont .sta_item .img1 {
        position: absolute;
        width: 1.28rem;
        height: 1.28rem;
        display: block;
        left: 5.333rem;
        top: 0; }
      .shart_tips_alert .sta_cont .sta_item .img2 {
        position: absolute;
        top: 0;
        width: 6.613rem;
        left: 6.741rem;
        display: block;
        top: -0.64rem; }
      .shart_tips_alert .sta_cont .sta_item .img {
        display: block;
        width: 7.083rem;
        margin-top: 0.427rem;
        margin-left: 1rem; }
    .shart_tips_alert .sta_cont .btn {
      display: block;
      width: 5.973rem;
      height: 1.877rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.853rem;
      background: url(../images/new/sa6.svg) center center no-repeat;
      background-size: auto 90%; }

/*# sourceMappingURL=share.css.map */
